{% extends 'base.html' %}

{% block title %}
  Homepage
{% endblock %}

{% block header %}
  {% include 'components/header-for-auth-user.html' %}
{% endblock %}

{% block body %}
  <div class="container mx-auto px-4 py-2 max-w-6xl min-w-sm bg-gray-900 min-h-screen">
    <div class="flex gap-4 overflow-x-scroll my-2 overflow-y-hidden scrollbar-hide
      p-4 rounded-xl lg:rounded-lg">
      {% for foo in range(15) %}
        {% include 'components/novell-card.html' %}
      {% endfor %}
    </div>
  </div>
{% endblock %}